.category-container{
  display: flex;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 20px;
  row-gap: 50pxs;

} 

.category-title
{
    font-size:38px;
    margin-bottom: 25px;
    align-items: center;
}